.blue {
  background-color: #833471;
}

.meet-members {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.scrollable {
  width: 100%;
  height: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 20px;
  margin-bottom: 20px;
}

#view-members>.content-holder {
  color: #fff;
}

#view-members>.content-holder>.title>div>h2 {
  color: #fff;
}

.member-holder {
  position: relative;
  flex-basis: 33.3%;
}

.member-holder>.pic {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  flex-grow: 1;
}

.member-holder>.article {
  position: absolute;
  opacity: 0;
  z-index: -33;
}

.member-holder>.pic>img {
  position: relative;
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 100% 100%;
  filter: brightness(.3) blur(5px);
  transition: .5s ease;
}

.member-holder>.pic>img:hover {
  filter: brightness(1) blur(0px);
}

.foreground {
  position: relative;
  transform-origin: top left;
  width: 0;
  height: 0;
  display: flex;
  animation: enlarge 1s ease forwards;
  transition: .4s;
}

.foreground>.pic {
  flex-basis: 50%;
  width: 50%;
  height: 100%;
}

.foreground>.pic>img {
  filter: brightness(1);
}

.foreground .article {
  flex-basis: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 70px;
  left: 0;
  animation: slide-in 1s .8s ease forwards;
  flex-direction: column;
  transition: .5s ease;
  font-family: var(--font-b);
  font-size: .9rem;
  text-align: right;
}

.foreground>.article>h1 {
  font-family: var(--font-t);
  font-size: 2rem;
  font-weight: 100;
  width: 100%;
  margin-top: 30px;
}

.foreground>.article>.scrollable>p {
  margin-bottom: 40px;
  font-size: .9rem;
  font-family: var(--font-b);
  line-height: 2.5rem;
}

.foreground>.article>.nav-back {
  font-family: var(--font-b);
  font-size: 1.1rem;
  text-align: left;
  font-weight: 100;
  padding: 3%;
  white-space: nowrap;
  background: none;
  outline: none;
  border: none;
  background-color: rgba(131, 52, 113, 1);
  filter: brightness(.8);
  color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: .4s ease;
}

.foreground>.article>.nav-back:hover {
  color: rgba(131, 52, 113, 1);
  background-color: #f1f1f1;
}

.behind {
  transform: scale(0);
  opacity: 0;
  transition: .5s ease;
  position: absolute;
}

#view-members>.content-holder>.content2 {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  margin-top: 100px;
  position: relative;
}

#view-members>.content-holder>.content2 {
  width: 100%;
  height: 100%;
  font-family: var(--font-b);
  margin-bottom: 40px;
  line-height: 2rem;
  color: #ffff;
}

@keyframes enlarge {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
    flex-grow: 1
  }
}

strong {
  text-decoration: #ffff 3px solid;
  font-weight: 800;
}

@keyframes slide-in {
  to {
    opacity: 1;
    left: 50%;
  }
}

@media screen and (max-width: 1250px) {
  .member-holder>.pic>img {
    object-position: 70% 70%;
  }
}

@media screen and (max-width: 1110px) {
  .meet-members {
    flex-direction: column;
  }

  .member-holder>.pic>img {
    object-position: 40%;
  }

  .member-holder>.pic>img:nth-of-type(2) {
    object-position: 400%;
  }

  /* .member-holder>.pic>img:last-of-type {
    object-position: 300%;
  } */
  .foreground>.article {
    padding: 0 20px;
  }
}

@media screen and (max-width: 750px) {
  .foreground {
    flex-direction: column;
  }

  .foreground>.pic {
    position: relative;
    width: 100%;
  }

  .foreground>.pic>img {
    height: 100%;
    object-fit: 100%;
  }

  .foreground>.article {
    position: relative;
    width: 100%;
    animation: none;
    justify-content: center;
    align-items: center;
    opacity: 1;
    text-align: center;
  }
}
