:root {
  --font-t: 'Poiret One';
  --font-b: 'Open Sans';
}

* {
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  padding: 0;
  overflow-x: hidden;
}

.nav-container {
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.menu {
  display: none;
}

.tab {
  position: relative;
  width: 60px;
  min-width: 60px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: .7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.open {
  flex-grow: 1;
}

.tab>span {
  z-index: -33;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}

main {
  display: block;
}

main>div {
  position: relative;
  width: calc(100% - 120px);
  height: 100%;
}

p {
  margin: 0;
}

#view-home,
#view-members,
#view-impact {
  position: relative;
}

.nav-text_hide {
  transition: .6s ease-in-out;
  opacity: 0;
}

.hidden {
  transform: translateY(50px);
  transition: .6s ease-in-out;
  opacity: 0;
}

.nav-text_visible {
  transition: .6s .8s ease-in-out;
  opacity: 1;
}

.visible {
  transition: .6s .5s ease-in-out;
  opacity: 1;
  transform: translateY(0px)
}

.hidden-bar,
.visible-bar {
  transform-origin: top;
}

.hidden-bar {
  transform: scaleY(0);
}

.visible-bar {
  transform: scaleY(1);
}

.content-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-holder>.title {
  width: 100%;
  height: 106vh;
  position: relative;
  z-index: 1;
}

.content-holder>.title>h1 {
  padding-top: 10px;
  padding-left: 30px;
  width: 5%;
  height: 10%;
  top: 0;
  left: 0;
  font-family: var(--font-t);
  font-size: .8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  color: rgba(0, 0, 0, .3);
  position: absolute;
  display: block;
  z-index: -2;
}

.content-holder>.title>div {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-holder>.title>div>h2 {
  flex-basis: 40%;
  padding-top: 6%;
  padding-left: 11%;
  font-size: 7rem;
  width: 45%;
  line-height: 10rem;
  font-family: var(--font-t);
  text-transform: capitalize;
  font-weight: 100;
}

.content-holder>.title>div>img {
  flex-basis: 60%;
  margin-top: 50px;
  margin-left: 40px;
  max-width: 50%;
  height: 50%;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
